<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium with TestNG">
  <test name="Base Tests">
    <classes>
      <class name="com.simonorow.MovieDBTests"/>
      <class name="com.simonorow.SearchTests"/>
      <class name="com.simonorow.WatchlistTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
